
.example-container {


  min-height: 200px;
}
.example-sidenav{
  padding: 12px;

  min-height: 200px;
}
.mat-drawer-content {
 margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 200px;
}
.example-sidenav-content{
  padding: 12px;
  min-height: 200px;
}
